<% if user_signed_in? %>
  <div class="waves-effect waves-teal btn-flat"><%= current_user.name %></div>
  <%= link_to('Logout', destroy_user_session_path, class: 'waves-effect waves-light btn')  %>
<% else %>
  <%= link_to('Login / Sign-up', new_user_session_path, class: 'waves-effect waves-light btn')  %>
<% end %>