<div class="container">
  <div class="col s12 m7">
    <div class="card horizontal small blue-grey darken-1">
      <div class="card-image">
        <% if FileTest.exist?(Rails.root.join('public', "#{@card.id}.jpg")) %>
            <%= image_tag "#{root_url}#{@card.id}.jpg" %>
        <% end %>
      </div>
      <div class="card-stacked">
        <div class="card-content white-text">
          <span class="card-title"><%= @card.title %></span>
          <p><%= @card.description %></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>