<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag    'mailer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      .card-image {width: 100%;}
      .collection img {height: 20px;}
      .title {margin-left: 1em;}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
